<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/bootstrap-grid.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0217168953.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="contaier">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="title">
                    <p> who we are</p>
                </div>
                <div class="bord_bottom">
                </div>
                <p class="title_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-12 ">
                <div class="row d-flex justify-content-between">
                    <div class="col-3">
                        <div class="hover">
                            <img class="image" src="../template/img/image 1.png" alt="">
                            <div class="absolute">
                                <a class="icon_twiter" href="#">
                                    <i class="twiter fab fa-twitter"></i>
                                </a>
                                <div class="absolute">

                                    <a class="icon_twiter" href="#">
                                        <i class="twiter fab fa-twitter"></i>
                                    </a>
                                    <a class="icon_fb" href="#">
                                        <i class=" fb fab fa-facebook-f"></i>
                                    </a>
                                    <a class="icon_google" href="#">
                                        <i class=" google fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="hover">
                            <img class="image" src="../template/img/image 2.png" alt="">
                            <div class="absolute">
                                <a class="icon_twiter" href="#">
                                    <i class="twiter fab fa-twitter"></i>
                                </a>
                                <div class="absolute">

                                    <a class="icon_twiter" href="#">
                                        <i class="twiter fab fa-twitter"></i>
                                    </a>
                                    <a class="icon_fb" href="#">
                                        <i class=" fb fab fa-facebook-f"></i>
                                    </a>
                                    <a class="icon_google" href="#">
                                        <i class=" google fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="hover">
                            <img class="image" src="../template/img/image 2.png" alt="">
                            <div class="absolute">
                                <a class="icon_twiter" href="#">
                                    <i class="twiter fab fa-twitter"></i>
                                </a>
                                <div class="absolute">

                                    <a class="icon_twiter" href="#">
                                        <i class="twiter fab fa-twitter"></i>
                                    </a>
                                    <a class="icon_fb" href="#">
                                        <i class=" fb fab fa-facebook-f"></i>
                                    </a>
                                    <a class="icon_google" href="#">
                                        <i class=" google fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="hover">
                            <img class="image" src="../template/img/image 3.png" alt="">
                            <div class="absolute">
                                <a class="icon_twiter" href="#">
                                    <i class="twiter fab fa-twitter"></i>
                                </a>
                                <div class="absolute">

                                    <a class="icon_twiter" href="#">
                                        <i class="twiter fab fa-twitter"></i>
                                    </a>
                                    <a class="icon_fb" href="#">
                                        <i class=" fb fab fa-facebook-f"></i>
                                    </a>
                                    <a class="icon_google" href="#">
                                        <i class=" google fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>